 #           <center>        <font color =blue>  Python Basics   </font>   </center>

# <font color = "green"> Features </font>

Python is an 
    -- multi-purpose, 
    -- interpreted, 
    -- object oriented functional,
    -- high level 
    -- programming language.
    -- open source

-- Concise
-- More Readable, 
-- written fewer lines of code

Why Python is slower as compared to Java ?

In [ ]:
print(10+20)

# <font color=green>Comment</font>
Comments are statement that are not executed during program execution. 
These are the instructions for the programmer to explain the python code. Comment always written after hash symbol.

In [7]:
print("Hi Everyone") # This is a statement to print any information

Hi Everyone

In [8]:
"""This is multi line comment example. There is no specific syntax for defining multiple line comment in python. But 
python declares multiple line string using qutation three times. The same can be used to write multiple line comment"""

'This is multi line comment example. There is no specific syntax for defining multiple line comment in python. But \npython declares multiple line string using qutation three times. The same can be used to write multiple line comment'

# <font color=green>Variables </font>

Variables are the containers for storing data. Variables are created once value is assigned to it. 
### Rules for naming a variable.
 consists of alphabet, number and underscore
 Variable name can starts with only alphabet and underscore.
 it is case sensitive

In [9]:
You = 21
Father = 50
Mother = 48
GrandFather = 80
GrandMother = 70
print ("Your's age", 21 + 5)
print ("Father's age", 50 + 5)
print ("Mother's age", 48 + 5)
print ("GrandFather's age", 80 + 5)
print ("GrandMother's age", 70 + 5)

Your's age 26
Father's age 55
Mother's age 53
GrandFather's age 85
GrandMother's age 75

# <font color=green>Keywords</font>

keywords are resorved words of python used for specific purpose.
Ex : pass, continue, if .
It can not be used as variable.

In [10]:
pass1 = 24

# <font color=green>DataType </font>
Python follows <font color = "Red">duck typing</font>. Once value is assigned to a variable, it implicitely decides the datatype of the value.

In [11]:
xint = 3
xfloat = 3.5
xstr = 'Sam' # String can e defined within double quote as well ex: xstr = "Sam". 
             # The multiple line string can be defined by specifying the string within the quote defining three times.
xbool= False

In [ ]:
type(xint)
type(xfloat)
type(xstr)
type(True)

# <font color=green>Operators </font>

These are used to perform operation over the variable.

Arithmatic Operators : +, - , * , /, %, //, ** , 

Assignment Operators : =, +=, -=, *=, /=, %=, **=, //=

Relational Operators : >, >=, <, <=, ==, !=

Logical Operators : and, or, not

Bitwise Opertors : &, | , ~

Identity Operators : is, is not

Membership Operators : in, not in

In [3]:
print (10 + 20)
print (10 - 20)
print (34/10)
print (34%10)
print (34//10)
print (3 ** 2)

30
-10
3.4
4
3
9

In [13]:
print (20 > 10)
print (20 < 10)
print (20 >= 10)
print (20 <= 10)
print (20 == 10)
print (20 != 10)

True
False
True
False
False
True

In [14]:
print((10 > 20) and (20 > 10) or not(30 > 20))

False

# <font color=green>String</font> 
is a sequence of characters

In [27]:
# define a string, single line multi line
strtxt = 'Hello'

String Traversal : String can be traversed in both direction using +ve and -ve index. An expression can be used as an index.

In [30]:
strtxt[1:3]
strtxt[-4:-2]

'el'

In [ ]:
len() # length of a string

### methods of string

In [ ]:
find(value, start, end) #takes the string give the index of first occurance, if not present return -1 
index() # gives the index of first occurance of string
lower()
upper()

split()   # break the string into word using a separator, join() # it is the inverse of split

replace() # replaces all occurances of string with another string

format()
count()
capitalize()/title()
strip()
startswith()

-----------------
concatenation

### String Operations

+ : Concatenation
* : Repetition

In [ ]:
String Comparison

In [ ]:
== : comparison
< , < : all upper case letters comes before lower case

In [ ]:
String Traversal
String Slices
Strings are immutable
Search a letter in the string

## <font color=green>List </font>
is a sequence of values.

In [16]:
# Q. Write a program to print 5 books using single print statement ?
listofbooks = ['Bottle of Lies', 'Shades of Saffron', 'Black Warrant', 'Bihar Diaries', 'Non-Conformist']
print('list of five books', listofbooks)
listofauthor = ['Katherin Eban', 'Sabba Naqbi', 'Sunil Gupta', 'Amit Lodha', 'Parikshat Sahni']
print('list of five author', listofauthor)

list of five books ['Bottle of Lies', 'Shades of Saffron', 'Black Warrant', 'Bihar Diaries', 'Non-Conformist']
list of five author ['Katherin Eban', 'Sabba Naqbi', 'Sunil Gupta', 'Amit Lodha', 'Parikshat Sahni']

In [33]:
listfromstr = list("python") # list function breaks a string into individual letter.

In [34]:
listfromstr

['p', 'y', 't', 'h', 'o', 'n']

In [17]:
# List Comprehension : concise way to create a list
# [expression followed by zero or more for or if clauses]
Every List comprehension can be rewritten using for loop. But every for loop can not be rewritten as a list 
comprehension.

index starts from zero.

In [18]:
"""Access an list element"""
listofbooks[3] 
listofbooks[-3]

'Black Warrant'

In [19]:
"""Subset of list"""
listofbooks[3:]
listofbooks[-3:]
listofbooks[1:3]
#listofbooks[-3:-1]

['Shades of Saffron', 'Black Warrant']

In [ ]:
"""list operations""" #operations over list create new list
+ : concatenation
* : repeatation

# List Methods
Most list methods are void. They modify the list and return None.

In [20]:
"""length"""
#len(listofbooks)
#methods of list

"""insert""" 
#listofbooks.insert(3, 'Rajniti')

"""update"""
#listofbooks.append('Barbanki Narcos')
#listofbooks.append(listofauthor)
#listofbooks.extend(listofauthor)

"""delete"""  
#listofbooks.remove('Rajniti')
#listofbooks.pop()
#listofbooks.remove(listofauthor)

"""replace"""
#listofbooks[3] = 'Room no 105', listofbooks[1:3] = ["Room no 105", "Rajniti"]

#listofbooks.count('Room no 105')
#listofbooks.reverse()
#listofbooks.sort()
#listofbooks.clear()
#fivebooks = listofbooks.copy()
fivebooks.remove('Bottle of Lies')

NameError: name 'fivebooks' is not defined

# <font color = "Green" > Tuple </font> 
Ordered Collection and non-editable

In [2]:
tupleofbooks = ('Bottle of Lies', 'Shades of Saffron', 'Black Warrant', 'Bihar Diaries', 'Non-Conformist')
print('list of five books in tuple',  tupleofbooks)

list of five books in tuple ('Bottle of Lies', 'Shades of Saffron', 'Black Warrant', 'Bihar Diaries', 'Non-Conformist')

In [5]:
"""Access Tuple Items"""
#tupleofbooks[1]
#tupleofbooks[-1]
"""Subset of Tuple""" 
tupleofbooks[1:3]
tupleofbooks[1:]
tupleofbooks[-3:]

('Black Warrant', 'Bihar Diaries', 'Non-Conformist')

In [ ]:
"""tuple operations""" #operations over tuple create new tuple
+ : concatenation
* : repeatation

In [10]:
#Operations on Tuple
"""length"""
len(tupleofbooks)
"""methods of tuple"""
tupleofbooks.index('Bottle of Lies')
tupleofbooks.count('Shades of Saffron')

1

In [ ]:
function

# <font color = "green" > Set</font>
Unordered collection. So unindexed, unique

In [2]:
setofdryfruits = {'almond', 'pistachio', 'cherry', 'raisin'}
setofdryfruits
setoflegumes = {'Urad dal', 'Arhar Dal', 'Moong dal'}

set is used for membership testing and duplicate entries.

In [19]:
#Collection Operations over Sets
"""length"""
#len(setofdryfruits)
"""update"""
#setofdryfruits.add('dates')  # add one item
#setofdryfruits.update(['Cashew', 'Walnuts']) add more than one item

"""delete"""
#setofdryfruits.remove('Walnuts')
#setofdryfruits.discard('almond')
#setofdryfruits.pop()

setofdryfruits.clear()
setofdryfruits

# Set Operations over set (Union, intersection, difference, symmetric difference)
#setofdryfruits.union(setoflegumes) 
#setofdryfruits.intersection(setoflegumes)
#setofdryfruits.difference(setoflegumes)
#setofdryfruits.symmetric_difference(setoflegumes)

set()

# <font color="green"> Dictionary </font>

is like a list. In list indices have to be integers. In dictionary they can be of any type. The indices are called key and each key has a value. So, the data stored in dictionary in key-value pair
Duplicate keys are not allowed.

In [36]:
# Create dictionary
studentsmarks = {'Ronit' : 45,
                 'Rajeeb' : 86,
                 'Amar' : 91}
studentsmarks

#Or
studentsmarks = dict(Ronit = 45,
                 Rajeeb = 86,
                 Amar = 91)
studentsmarks

{'Ronit': 45, 'Rajeeb': 86, 'Amar': 91}

In [6]:
#Operation over dictionary
#Access value of key
studentsmarks['Ronit']
studentsmarks.get('Rajesh', 'NA')

'NA'

In [48]:
"""length"""
#len(studentsmarks)
"""Add item to dict"""
#studentsmarks['Akbar'] = 90
"""Update the item """
#studentsmarks['Amar'] = 99
"""Add/Update multiple item"""
#studentsmarks.update({"Akbar":90, "Amar":99})
"""Remove item """
#studentsmarks.pop('Akbar')
#studentsmarks.popitem()

'Remove item '

In [39]:
"""Get all keys/values/items"""
#studentsmarks.keys()
#studentsmarks.values()
studentsmarks.items()
studentsmarks

dict_items([('Ronit', 45), ('Rajeeb', 86)])

# <font color="Green"> Conditional Statements</font>

In [42]:
a =20
b = 30

if a > 200 : 
    print ('a greater than 200')
elif a > b :
    print ('b greater than 200')
else :
    print ('a less than 200 and less than b also')

a less than 200 and less than b also

In [61]:
a, b = 20,20 
if a is b :
    print ("a equal to b")

a equal to b

In [43]:
start = 1
end = 200
secval = 1
print (1)
print(secval)
thirdval = start + secval
if(thirdval < 200) :
    print (thirdval) # 1 + 1
fourthval = secval + thirdval
if(fourthval < 200) :
    print (fourthval)
fifthval = thirdval+fourthval
if(fifthval < 200):
    print (fifthval)

1
1
2
3
5

# <font color="Green"> Loops (while, for)</font>

In [7]:
start, secval = 0, 1

while start < 200 :
    print (start, end = ' ') 
    start, secval = secval, start +secval

0 1 1 2 3 5 8 13 21 34 55 89 144

In [54]:
# for loop is used when the iteration is definite
for x in 'rekha':
    print(x)

r
e
k
h
a

In [ ]:
# range function is required when the iteration is required over a range of numbers
for x in range(1, 6): # range(6), range(1, 6, 2) , range(-10, -100, -20)
    print(x)

### continue 
The current iteration will be stopped and the control will move to the begining of the loop to start the next iteration.

### break
The control will move out of the loop

### else in loop
else block executed when loop completes its operation

In [3]:
for x in range(1, 6):
    print("inside for loop")
else :
    print("inside else block")

inside for loop
inside for loop
inside for loop
inside for loop
inside for loop
inside else block

In [6]:
# else block is not executed if loop is terminated by break statement
for x in range(1, 6):
    print("inside for loop on iteration",  x)
    if x == 5:
        break
else :
    print("inside else clause of for loop")

inside for loop on iteration 1
inside for loop on iteration 2
inside for loop on iteration 3
inside for loop on iteration 4
inside for loop on iteration 5

In [4]:
a = 5
while a > 0 :
    print("inside while loop")
    a = a - 1
else:
    print("inside else block")

inside while loop
inside while loop
inside while loop
inside while loop
inside while loop
inside else block

# <font color="Green"> Functions </font>

: sequence of statements that performs a computation. The sequence of code is given a name 
It is written once and can be executed wherever required using its name. It can take parameter and return value

In [ ]:
# function with default argument
def print_name_age(name, age = 67):
    print name
    print age

In [49]:
#write a functions that will simulate calculator
def simplecalculator(num1, num2, op):
    if(op == '+'):
        return num1+num2
    if(op == '-'):
        return num1-num2
    if(op == '*'):
        return num1*num2
    if(op == '/'):
        return num1/num2
    
print(simplecalculator(4, 2, '+'))

6

 <font color="Red" type="bold" ><b>Indentation</b></font>  in python used to define a block of code.

## <font color="Green"> Anonymous function </font> 
Function has no name. It is defined using lambda. It can have only one expression and multiple arguments separated by comma.

In [ ]:
#syntax
lambda arguments : expression

In [ ]:
# Ex
x = 2
y = 3
(lambda x, y : x+y) (x, y)

lambda function can be returned from a function or can be passed onto a function as parameter

# <font color="Green"> pass statement </font>

In [ ]:
if True:
    pass

In [ ]:
for x in 1, 2, 3 :
    pass

In [ ]:
while True:
    pass

In [ ]:
def checkPass(a):
    pass

In [ ]:
class emptyclass:
    pass

# <font color = "green"> Comprehensions</font>

Comprehensions are constructs that allow sequences to be built from other sequences.

In [ ]:
# List Comprehension : concise way to create a list
# [expression followed by zero or more for or if clauses]
Every List comprehension can be rewritten using for loop. But every for loop can not be rewritten as a list 
comprehension.